{% extends 'base.html.twig' %}

{% block title %}Info users.{% endblock %}

{% block main %}
{% for user in users %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <fieldset>
                <legend>Име: <i class="text-info">{{ user.fullName }}</i>, статус:
                    {% if user.isDelete %}
                        <i class="text-danger">неактивен</i>
                    {% else %}
                        <i>активен</i>
                    {% endif %}
                </legend>
                <div class="form-group center-block">
                    <div class="col-sm-4 col-sm-offset-4">
                        <label>Потребителско име за вход: <i class="text-info">{{ user.username }}</i></label>
                    </div>
                    <div class="col-sm-6 col-sm-offset-4">
                        <label>Правата са:
                            {% for role in user.roles %}
                                {% if role == 'ROLE_ADMIN' %}
                                    <i>Администратор</i>
                                {% elseif role == 'ROLE_SELLER' %}
                                    <i>Продавач</i>
                                {% elseif role == 'ROLE_TEACHER' %}
                                    <i>Учител</i>
                                {% elseif role == 'ROLE_USER' %}
                                    <i>Потребител</i>
                                {% endif %}
                            {% endfor %}
                        </label>
                    </div>
                    {% if app.getUser() and app.getUser().isAdmin() %}
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-5">
                                <a class="btn btn-warning" href="{{ path('user_edit', {id: user.id}) }}">
                                    Профил
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </fieldset>
        </div>
    </div>
{% endfor %}

{% endblock %}
