{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block main %}
<div class="container body-content span=8 offset=2">
    <div class="well">
        {{  form_start(registrationForm) }}
            <fieldset>
                <legend>Редактиране</legend>
                <div class="form-group center-block">
                    <div class="col-sm-4 col-sm-offset-4">
                        {{ form_row(registrationForm.fullName, {
                            label: 'Име презиме фамилия'
                        }) }}
                    </div>
                </div>
                {% if app.getUser() and app.getUser().isAdmin() %}
                    <div class="form-group center-block">
                        <div class="col-sm-4 col-sm-offset-4">
                            <label>Ниво на достъп:</label>
                            <select name="role[name]">
                                {% if  registrationForm.vars['value'].roles[0] == 'ROLE_ADMIN' %}
                                    <option value="role_admin">Администратор</option>
                                    <option value="role_user">Потребител</option>
                                    <option value="role_teacher">Учител</option>
                                    <option value="role_seller">Продавач</option>
                                {% elseif registrationForm.vars['value'].roles[0] == 'ROLE_TEACHER' %}
                                    <option value="role_teacher">Учител</option>
                                    <option value="role_user">Потребител</option>
                                    <option value="role_admin">Администратор</option>
                                    <option value="role_seller">Продавач</option>
                                {% elseif registrationForm.vars['value'].roles[0] == 'ROLE_SELLER' %}
                                    <option value="role_seller">Продавач</option>
                                    <option value="role_user">Потребител</option>
                                    <option value="role_admin">Администратор</option>
                                    <option value="role_teacher">Учител</option>
                                {% elseif registrationForm.vars['value'].roles[0] == 'ROLE_USER' %}
                                    <option value="role_user">Потребител</option>
                                    <option value="role_seller">Продавач</option>
                                    <option value="role_admin">Администратор</option>
                                    <option value="role_teacher">Учител</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="{{ path('user_all') }}">Изход</a>
                        <button type="submit" class="btn btn-primary">ЗАПАЗИ</button>
                    </div>
                </div>
            </fieldset>
        {{  form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
